@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap')

@import '../../../node_modules/line-awesome/dist/line-awesome/css/line-awesome.css'

@import '~nib/index.styl' /* importando la libreria de nib */
normalize-css();

$color-primary = #717CF0

*
  box-sizing border-box

@import 'classes'
@import 'forms'

html
  height 100%

body
  font-family 'Quicksand', sans-serif
  height 100%
  color #424242
a
  color $color-primary
  font-weight 700
  text-decoration none
 
#app
  height 100%

h1
  font-family 'Dosis', sans-serif
  font-weight normal
  font-size 36px

